div#interface {
	/*margin-left : 15%;
	margin-right : 15%;*/
	min-width : 960px;
	margin : auto;
	width : 70%;
	background-color : lightgreen;
	padding : 10px;
}
#titre {
	text-align : center;
	background-color : lightgreen;
	margin : auto;
	padding : 10px;
	min-width : 960px;
	display : inline-block;
}
h1#main {
	display : inline-block;
	text-transform : uppercase;
	font-size : xx-large;
	font-family : Arial black;
	color : white;
	text-shadow : 4px 4px 4px black, -4px -4px 4px lightgreen;
}
img {
	display : inline-block;
}
ul.menu li.menu {
	font-family : Calibri;
	display : inline;
	padding : 25px;
}
ul.menu {
	list-style-type : none;
}
a.menu {
	color : white;
	text-decoration : none;
	text-shadow : 2px 2px 2px black, -2px -2px 2px lightgreen;
	font-size : xx-large;
}
div.menu {
	background-color : darkgreen;
	border-radius : 10px;
	padding : 10px;
	border-color : lightgreen;
	border-style : solid;
	text-align : center;
	text-transform : capitalize;
	min-width : 960px;
}
/* fin de la partie interface */