div#interface {
	/*margin-left : 10%;
	margin-right : 10%;*/
	margin : auto;
	width : 70%;
	min-width : 960px;
	background-color : lightgreen;
	padding : 10px;
	z-index : 1;
}
#titre {
	text-align : center;
	background-color : lightgreen;
	margin : auto;
	padding : 10px;
	min-width : 960px;
	display : inline-block;
}
h1#main {
	display : inline-block;
	text-transform : uppercase;
	font-size : xx-large;
	font-family : Arial black;
	color : white;
	text-shadow : 4px 4px 4px black, -4px -4px 4px lightgreen;
}
img {
	display : inline-block;
}
ul.menu li.menu {
	font-family : Calibri;
	display : inline;
	padding : 25px;
}
ul.menu {
	list-style-type : none;
}
a.menu {
	color : white;
	text-decoration : none;
	text-shadow : 2px 2px 2px black, -2px -2px 2px lightgreen;
	font-size : xx-large;
}
div.menu {
	background-color : darkgreen;
	border-radius : 10px;
	padding : 10px;
	border-color : lightgreen;
	border-style : solid;
	text-align : center;
	text-transform : capitalize;
	min-width : 960px;
}
/* fin de la partie interface */
div#maj {
	font-family : Arial;
}
h1 {
	font-size : x-large;
	text-transform : capitalize;
	text-shadow : 2px 2px 2px black, -2px -2px 2px lightgreen;
	color : white;
}
h2 {
	font-size : large;
	text-transform : capitalize;
	color : white;
}
a.date {
	color : rgb(255,255,255);
	text-decoration : none;
}

div#date {
	position : fixed;
	background-color : rgba(255,153,0,0.5);
	padding : 10px;
	margin : auto;
	border-radius : 10px;
	top : 200px;
}
	